<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<title>{{ title }} - BellNet</title>
<body class="bg-light">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BellNet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{ 'active' if active_page == 'logs' }}">
          <a class="nav-link" href="/">Logs</a>
        </li>
        <li class="nav-item {{ 'active' if active_page == 'status' }}">
          <a class="nav-link" href="/status/">Status</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="text-center py-4">
    <h2>{{ title }}</h2>
  </div>

  {% block content %}{% endblock %}

</body>
