{% extends 'base.html' %}

{% set title = 'Log Files' %}
{% set active_page = 'logs' %}

{% block content %}
<div class="container">

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="alert alert-{{messages[0][0]}}" role="alert">
      {{ messages[0][1] }}
    </div>
  {% endif %}
{% endwith %}

{% for log in logs %}
<div class="row justify-content-md-center">
  <form class="form-inline">
    <div class="form-group mb-0">
        <input type="text" readonly class="form-control-plaintext mb-2"
               value="{{log['date']}} ({{log['files']}})"></input>
    </div>
    <div>
      <button type="submit" class="btn btn-primary mr-3 mb-2" name="btn"
              value="{{log['dir']}}" formaction="/download" >Download</button>
      <button type="submit" class="btn btn-secondary mb-2" name="btn"
              value="{{log['dir']}}" formaction="/delete" formmethod="post"
              onclick="return confirm('Delete log files, are you sure?');">Delete</button>
    </div>
  </form>
</div>
{% endfor %}

</div>
{% endblock %}
