{% extends 'base.html' %}

{% set title = 'Status' %}
{% set active_page = 'status' %}

{% block content %}
<div class="container">
  <h5>System</h5>
  <table class="table">
    <tr>
      <td>Current touch:</td>
      <td>{{current_touch}} s</td>
    </tr>
    <tr>
      <td>Previous touch:</td>
      <td>{{previous_touch}} s</td>
    </tr>
    <tr>
      <td>Delays:</td>
      <td>{{delays|join(", ")}}</td>
    </tr>
  </table>

  <h5>Connections</h5>
  <table class="table">
  {% if connections|length() == 0 %}
    <tr>
      <td>No connection</td>
    </tr>
  {% else %}
    {% for connection in connections %}
      <tr>
        <td>{{ connection[0] }}</td>
      </tr>
    {% endfor %}
  {% endif %}
  </table>

  <h5>System Log</h5>
  <div>
    <textarea class="mx-2 small px-2" rows="10" readonly="readonly" wrap="off" style="min-width: 100%">
      {%- for x in log %}
{{x.getMessage()-}}
      {%- endfor -%}
    </textarea>
  <div>
</div>

{% endblock %}

